---
import UpdatePassword from '../components/UpdatePassword.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Password Validator">
	<main class="main-pane">
		<UpdatePassword userEmail="newuser123@gmail.com" />
	</main>
</Layout>

