---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--main-bg-color: #F6F5F0;
		--error-pink: #F45B69;
		--good-to-go-green: #A8D487;
		--dark-green: #719168;
		--dark-gray: #3A4E48;
		--med-gray: #595959;
	}
	
	body {
		background: var(--main-bg-color);
		color: var(--med-gray);
		font-family: 'Open Sans', sans-serif;
	}
	
	.main-pane {
		max-width: 400px;
		margin: 10vh auto;
		padding: 2rem;
		border: 2px solid var(--dark-green);
		border-radius: 4px;
	}
	</style>
